div[contenteditable="true"] {
  font-family: sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 50px;
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 0.5rem !important;
  text-align: left;
}

div.section-head {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

div[contenteditable="true"]:focus {
  border: 1px solid rgb(48, 48, 48);
  transform: scale(1.05);
  transition: all 200ms;
}

/* image */
.card-500 {
  max-width: 700px;
  background-color: #fff;
  border: none;
  border-radius: 12px;
}

.vid-details-cover-prof-wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.vid-ch-cover-img {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}
.vid-ch-cover-img img {
  max-width: 100%;
  z-index: 20;
  border-radius: 5%;
}
.vid-ch-img {
  display: block;
  position: relative;
  width: clamp(100px, 17vh, 17vh);
  height: clamp(100px, 17vh, 17vh);
  margin-top: clamp(-50px, -9vh, -9vh);
  z-index: 30;
}
.vid-ch-img img {
  max-width: 100%;
  border-radius: 10%;
  border: 5px solid white;
  z-index: 30;
}

.upload-details-hobs-t {
  color: #fff;
  padding: clamp(5px, 0.9vmin, 0.9vmin);
  letter-spacing: 0.03em;
  background-color: #35b1f8;
  border-radius: 0.2rem;
}
