.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-custom-primary {
  background-color: #6197ff;
  color: white !important;
  margin-left: auto;
  margin-right: auto;
}

/* loader */
/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 100px auto 0;
  width: 8rem;
  text-align: center;
}

.spinner > div {
  width: 2rem;
  height: 2rem;
  margin: 0.3rem;
  background-color: #008bdc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* alert */
.btn-close-uni-alert {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #fff;
  background: url("./icons/white-close.svg") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 1;
}

.uni-blue {
  background-color: #04a9f5 !important;
  color: white;
}

.uni-danger {
  background-color: #c20303 !important;
  color: white;
}

.alert-contain {
  display: inline-block; /*alert the size of the inline-text*/
  max-width: 100vw;
  @media (min-width: 500px) {
    max-width: 80vw;
  }
}
.fixed-top-20 {
  position: -webkit-sticky;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1020;
}

.warning-msg {
  color: #2253bd;
  font-weight: 500;
}

.ml-4 {
  margin-left: 1.5rem !important;
}
